apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
  namespace: monitoring
spec:
  releaseName: kube-prometheus-stack
  interval: 15m
  chart:
    spec:
      chart: kube-prometheus-stack
      version: ">=60.0.0 <61.0.0"
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: flux-system
      interval: 12h
  install:
    remediation:
      retries: 3
    crds: CreateReplace
  upgrade:
    remediation:
      retries: 3
    crds: CreateReplace
  values:
    prometheus:
      prometheusSpec:
        retention: 15d
        scrapeInterval: 30s
        storageSpec:
          volumeClaimTemplate:
            spec:
              storageClassName: local-storage
              accessModes: ["ReadWriteOnce"]
              resources:
                requests:
                  storage: 20Gi
    grafana:
      enabled: true
      adminPassword: "admin"
      grafana.ini:
        server:
          root_url: "https://monitor.dylancree.com"
          serve_from_sub_path: false
      persistence:
        enabled: true
        storageClassName: local-storage
        size: 10Gi
      sidecar:
        dashboards:
          enabled: true
          label: grafana_dashboard
          labelValue: "1"
          folder: /tmp/dashboards
          defaultFolderName: "General"
        datasources:
          enabled: true
      defaultDashboardsEnabled: true
      ingress:
        enabled: true
        ingressClassName: nginx
        hosts:
          - monitor.dylancree.com
        tls:
          - secretName: grafana-tls
            hosts:
              - monitor.dylancree.com
        annotations:
          cert-manager.io/cluster-issuer: "letsencrypt-prod"
          nginx.ingress.kubernetes.io/ssl-redirect: "true"
    alertmanager:
      enabled: true
    nodeExporter:
      enabled: true
    kubeStateMetrics:
      enabled: true
