apiVersion: v1
kind: ConfigMap
metadata:
  name: coredns-custom
  namespace: kube-system
data:
  custom.server: |
    grafana:53 {
        hosts {
            10.104.44.215 grafana
            fallthrough
        }
    }
